<nav class="nav">
  <a class="nav-link active fas fa-home" href="#"></a>
  <a class="nav-link text-uppercase text-primary" href="#"> About </a>
</nav>
<div class="bg-navigation">
  <h1 class="text-light"> Tạo CV đơn giản cùng LazyCV </h1>
  <div>
  <h1 class="text-center text-light font-robotto"> Bạn là? </h1>
  <a class=" d-flex justify-content-center text-light font-robotto" href="#"> Học sinh </p>
  <a class="d-flex justify-content-center text-light font-robotto" href="#"> Người đi làm </p> -->
  <!-- </div>

</div>
